body{
background-image: url(../images/road-forest.jpg); 
background-size: cover;
margin: 0;

}

#start-btn, #restart-btn, #pause-btn {
  background-color: #f7791a;
  color: white;
  padding: 20px;
  font-size: 20px;
  margin-top: 40px;
  border-radius: 20px; 
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.195);
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;

  top: calc(36% - 240px);
  left: calc(50% - 160px);
}



 #canvas{
  display:none;
 background-color: lightgray;
 box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.241);
}

#gameover-screen{
  display: none;

}


#score {
  background-color: #f7791a;
  font-size: 36px;
  font-weight: bold;
  color: white;
  display: none;
  /* top: 90px;
  left: 10px; */
  text-shadow: -2px 0 black, -2px 2px black, -2px -2px black, 0 2px black, 2px 0 black, 2px 2px black, 2px -2px black, 0 -2px black;
}

#logo{
  margin-top: 25%;
  align-items: rigth;

}

#logoscore{
  display: none;
}